*,
*::before
*::after{
    box-sizing: border-box;
}

/* Custom font stylee */
@font-face {
    font-family: test;
    src: url('typeWriter.ttf');
}

@font-face {
    font-family: test1;
    src: url('typeWriterBold.ttf');
}
/* Custom Properties, update these for your own design */
:root {

   
    --ff-primary: typeWriter.ttf, sans-serif;
    --ff-secondary: typeWriterBold.ttf, monospace;

    --ff-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030; /* #303030 original */
    --clr-accent: #fa5d02; /*#59c285(green)   #44595c(bluegrey) */
    

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 600px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: test;/*var(--ff-primary);*/
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold);}



:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 5px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 5em;

 }

 .btn:hover {
     transform: scale(1.1)
 }
/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
    font-family: typeWriter;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}


.section__title {
    margin-bottom: .25em;

}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}
.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
/* header */
nav {display: none;}
/* Intro section */

.intro {
    position: relative;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content;
    }


.logo {
    max-width: 20%;
    height: auto;
}

.intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 1;
}
.section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
}

}


/* My services section */

.my-services {
        background-color: var(--clr-dark);
        background-image: url(/img/darkcomputer3.jpg);
        background-size: cover;
        /* background-blend-mode: multiply; */
        color: var(--clr-light);
        text-align: center;
        ;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom:  4em;
}

.service {
    max-width: 500px;
    padding-left: 2em;
    padding-right: 1em;
    margin-right: 3em;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .about-me {
        display: auto;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img",
            "subtitle img",
            "text img";
        grid-column-gap: 1em;
    }

    .section__title--about{
        grid-area: title;
    }
    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

}

/* My Work */
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    
}


.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .75;
}


.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}







